# ВКонтакте
VK_TOKEN=ваш_токен_сообщества_здесь
VK_GROUP_ID=123456789

# Погода (OpenWeatherMap)
WEATHER_API_KEY=ваш_ключ_openweathermap_здесь

# Координаты вашего СНТ (
LAT=67
LON=32

# Настройки публикации
POST_TIME=08:00
TIMEZONE=Europe/Moscow